#memoryTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}
.cardDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: var(--rtc-margin-s);
  margin: 10px;
  gap: 10px;
  padding: var(--rtc-padding-s);
  height: 70%;
  width: 60%;
  background-color: grey;
  justify-content: center;
  cursor: pointer;
}
.imgImageDiv {
  padding: var(--rtc-padding-s);
  border: solid;
  position: center;
  height: auto;
  width: 90%;
  border-radius: var(--rtc-border-radius-xs);
  overflow-y: auto;
  overflow-x: auto;
}
.notSee {
  background-color: red;
  background-image: url(./assets/dice.png);
  z-index: -1;
}
.cursor-text {
  position: absolute;
  pointer-events: none; /* Evita interferir con clics */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  transform: translate(-50%, -50%); /* Centra el texto respecto al cursor */
  z-index: 1000;
}
.player1,
.player2 {
  display: block;
}
.notPlayer {
  display: none;
}
