#tresEnRayaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
#tresEnRayaPlayers {
  display: flex;
  flex-direction: column;
}
.player1,
.player2 {
  margin: 10px;
  cursor: pointer;
}
#tresEnRayaTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.casilla,
.circulo,
.cruz {
  border: 1px solid rgb(20, 19, 19);
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}
.casilla {
  cursor: pointer;
}
.circulo {
  background-image: url(./assets/circulo.png);
}
.cruz {
  background-image: url(./assets/cruz.png);
}
